body {
    margin: 0;
    background: #023d87;
}

.logo {
    width: 50px;
    height: 50px;
    float: left;
    padding: 10px;
}

header {
    height: 70px;
    background: #02326e;
}

ul {
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 15px 10px;
}

a {
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    color: #02326e;
    background: antiquewhite;
    transition: 0.5s;
    padding: 5px;
    background: antiquewhite;
}

.InTheOcean {
    float: left;
    color: antiquewhite;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
}
canvas{
    background: #000000;
    margin-top: 100px;
}